name: Playwright Python Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: windows-latest
  
    steps:
    - name: List files for debug
      run: |
        echo "Current directory: $(pwd)"
        echo "Files in repo:"
        ls -R
        
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install playwright pytest
        playwright install

    - name: Run Playwright Tests
      run: |
        pytest tests/
